.client {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input {
  cursor: pointer;
  border: none;
  height: 40px;
  width: 300px;
  background-color:  #ffffff ;
  border-radius: 8px;
  outline: none;
  margin-right: 8px;

}
@media screen and (max-width: 425px){
  .input{
    max-width: 200px;
  }
  .result{
    flex-direction: column;
  }
}
.button {
  color: whitesmoke;
  background-color: #1e1bcf;
  border-radius: 8px;
}
.button:hover{
  color: #1e1bcf;
  background-color: rgb(136, 155, 207);
  cursor: pointer;
}
.result { 
  font-size: large;
  color: azure;
}
.message {
  font-size: large;
  color: azure;
  justify-items: center;
}
.copy {
  background-color: #000;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 25px;
}
.link {
  display: flex;
  flex-direction: row;
  background-color: #1e1bcf6b;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  border-radius: 10px;
}
@media screen and (max-width: 425px){
  .result{
    flex-direction: column;
  }
}
.button_create {
  font-size: 20px;
  color: whitesmoke;
  background-color: #1e1bcf;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}
.button_create:hover{
  color: #1e1bcf;
  background-color: rgb(136, 155, 207);
  cursor: pointer;
}
