.main_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(179, 185, 199);
  padding-left: 5px;
  gap: 10px;
  border-radius: 10px;
}
.column1 {
  display: flex;
  left: 0;
  padding-top: 10px;
}
.favicon {
  padding: 7px;
  border-radius: 100%;
  border: rgba(0, 0, 0, 0.466) solid 1px;
  background-color: rgba(0, 0, 0, 0.842);
}
.column2 {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 5px;
}
.title {
  color: antiquewhite;
}
.url {
  color: rgb(3, 3, 3);
}
.url:hover {
  text-decoration: underline;
}
.short_url {
  color: #110eda;
}
.short_url:hover {
  text-decoration: underline;
}
.info {
  color: rgb(15, 14, 12);
}
.clicks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.created {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.column3 {
  display: flex;
  padding-top:10px;
  gap: 5px
}
.copy_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:170px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(4, 52, 209, 0.781);
}
.copy_btn:hover{
  background-color: rgba(4, 52, 209, 0.881);
  cursor: pointer;
}
.copy_text {
  font-size: large;
  font-weight: 400;
}
.edit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width:70px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(4, 52, 209, 0.452);
}
.edit_btn:hover{
  background-color: rgba(4, 52, 209, 0.552);
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  .column1 {
    display: none;
  }
}
@media  only screen and (min-width: 1024px) {
  .main_container{
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
