body {
  background-color: #000;
}
.layout_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box; 
}
.container {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 769px) {
  .layout_primary {
    display: flex;
    flex-grow: 1; /* Que ocupe todo el ancho disponible */
  }
}
.layout_primary {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 30;
  box-sizing: border-box;
}
.layout_wrapper {
  display: flex;
  flex-flow: row;
  flex:1;
  min-height: 0;
  background-color: #202020;
}