.topbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  height: 5.6rem;
  /* padding: 3.2rem; */
  background-color: #131212;
  /* border-bottom: 0.1rem solid #1e1bcf; */
  z-index: 30;
}
.topbar_items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  /* margin-right: 80px; */
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.username {
  font-size: 1rem;
  font-weight: 200;
  color: #bcbbe4;
}


.search_input {
  border: 1px solid #2D3748; 
  background-color: #9ca7da; 
  color: #060f1a; 
  outline: none; 
  padding: 5px;
  width: 200px;
}
.logout {
  font-size: 1rem;
  font-weight: 600;
  color: #9ca7da;
  cursor: pointer;
}
.login {
  font-size: 1rem;
  font-weight: 600;
  color: #a3a2e4;
  cursor: pointer;
}
@media screen and (max-width: 510px) {
  .topbar{
    padding-right: 0px;
  }
  .username {
    display: none;
  }
  .logout {
    display: none;
  }
  .search_input {
    width: 150px;
    z-index: 31;
  }
  .topbar_items {
    margin-right: 35px;
  }
}
@media screen and (max-width: 425px) {
  .search_input {
    width: 80px;
  }
}