.topbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  height: 5.6rem;
  padding-left: 3.2rem;
  padding-right: 2.4rem;
  background-color: #131212;
  border-bottom: 0.1rem solid #397a4e;
}
.user {
  display: flex;
  align-items: center;
  gap: 7px;
}
.username {
  font-size: 1rem;
  font-weight: 200;
  color: #5bd375;
}
.topbar_items {
  position: relative;
  display: flex;
  justify-content: start;
  gap: 8px;
  align-items: center;
}
.search_input {
  border: 1px solid #2D3748; /* Color del borde */
  background-color: #8bc076; /* Color de fondo */
  color: #CBD5E0; /* Color del texto */
  outline: none; /* Quita el contorno al hacer clic */
  padding: 5px;
}
.logout {
  font-size: 1rem;
  font-weight: 600;
  color: #e70909;
  cursor: pointer;
}
.login {
  font-size: 1rem;
  font-weight: 600;
  color: #5bd375;
  cursor: pointer;
}