.side_nav {
  display: flex;
  flex-direction: column;
  position : absolute;
  padding: 1.6rem 1.2rem ;
  /* border-right: 0.1rem solid #1e1bcf; */
  min-width: 10rem;
  min-height: 100vh;
  box-sizing: inherit;
  background-color: #131212;
  gap: 20px;
  z-index: 31;
}
.side_nav_head {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
/* .logo{
  border-radius: 100%;
  border: #7eca67 solid 1px;
} */
.button {
  color: whitesmoke;
  background-color: #1e1bcf;
  border-radius: 8px;
  padding: 10px;
}
.button:hover{
  background-color: rgb(136, 155, 207);
  cursor: pointer;
  color: #1e1bcf;
} 
.side_nav_mobile {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  padding-left:10px;
  padding-top: 5px;
  gap: 4px;
  gap:20px;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 20px;
  position: fixed;
  z-index: 32;
  align-items: center;
}
.separator {
  height: 2px; 
  background-color: #1e1bcf; 
  margin: 1px 0; 
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 1.6rem;
  gap: 15px;
  
}
.links_group {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items:flex-start;
  padding-left: 5px;
  gap: 10px;
  background: linear-gradient(45deg, #000 5%, #1e1bcf 35%, #000 95%);
  border-radius: 15px;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
}
.link:hover {
  background-color:  rgb(136, 155, 207);;
  cursor: pointer;
  border-radius: 15px;
  color: #0d1813;
}

.drop_btn {
  background-color: transparent;
  border: none;
}
.menu_options {
  display: flex;;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 90px;
  color: #fff;
}

.menu_head {
  z-index: 31;
  display: flex;
  align-items: center;
}
.drop_menu_link {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  background-color:#739269be;
  padding-left: 10px;
  gap: 8px;
}

/* .logo {
  border-radius: 100%;
  border: #5bd375 solid 1px;
}
.logo:hover{
  border-radius: 100%;
  border: #0af3e7 solid 1px;
  cursor: pointer;
} */
@media only screen and (max-width: 768px) {
  .side_nav {
    display: none; 
  }
}
@media only screen and (min-width: 769px) {
  .side_nav_mobile{
    display: none;
  }
}

/* 

.dropdown_icon {
  position: relative;
  width: 100%;
}


.icon {
  display: inline-block;

  
}
.text {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}





*/