.side_nav {
  display: flex;
  flex-direction: column;
  position : fixed;
  padding: 1.6rem 0.5rem ;
  min-width: 10rem;
  min-height: 100vh;
  box-sizing: inherit;
  background-color: #131212;
  gap: 20px;
  z-index: 31;
}
.side_nav_head {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.button {
  color: whitesmoke;
  background-color: #1e1bcf;
  border-radius: 8px;
  padding: 10px;
}

.button:hover{
  background-color: rgb(136, 155, 207);
  cursor: pointer;
  color: #1e1bcf;
} 

.side_nav_mobile {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  padding-left:10px;
  padding-top: 5px;
  gap: 4px;
  gap:20px;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 20px;
  position: fixed;
  z-index: 32;
  align-items: center;
}

.separator {
  height: 2px; 
  background-color: #1e1bcf; 
  margin: 1px 0; 
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 1.6rem;
  gap: 15px;
  
}

.links_group {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items:flex-start;
  padding-left: 5px;
  gap: 10px;
  border-radius: 15px;
}

.link {
  display: flex;
  flex-direction: row;
  width: 10rem;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding-left: 10px;
  box-sizing: inherit;
}
.link:hover {
  background-color:  rgba(136, 155, 207, 0.548);;
  cursor: pointer;
  border-radius: 15px;
  color: #000000;
  .icon {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='colorize'><feColorMatrix type='matrix' values='1 0 0 0 0   0 1 0 0 0   0 0 1 0 0   0 0 0 1 0'/></filter></svg>#colorize");
    }
}
.icon {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='colorize'><feColorMatrix type='matrix' values='0 0 0 0 1   0 0 0 0 1   0 0 0 0 1   0 0 0 1 0'/></filter></svg>#colorize");
}
.drop_btn {
  background-color: transparent;
  border: none;
}

.menu_options {
  display: flex;;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 8px;
  margin-top: 90px;
  color: #fff;
  position: fixed;
  background-color: #0000009f;
  padding-bottom: 5px;
}

.menu_head {
  z-index: 31;
  display: flex;
  align-items: center;
}

.drop_menu_link {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  color: #1e1bcf;
  background-color:rgb(136, 155, 207);
  padding-left: 10px;
  gap: 8px;
}
.drop_menu_link:hover {
  background-color: rgb(81, 95, 133);
  cursor: pointer;
  color: #b0bad8;
}


@media only screen and (max-width: 768px) {
  .side_nav {
    display: none; 
  }
}
@media only screen and (min-width: 769px) {
  .side_nav_mobile{
    display: none;
  }
}
