.side_nav {
  display: flex;
  flex-direction: column;
  position : absolute;
  padding: 1.6rem 1.2rem ;
  border-right: 0.1rem solid #44f060;
  transition: all 300ms ease-in-out;
  min-width: 10rem;
  min-height: 100vh;
  z-index: 31;
  box-sizing: inherit;
  background-color: #0d1813;
}
.side_nav_mobile {
  display: flex;
  min-width: 0;
  position: absolute;
  padding-left:10px;
  padding-top: 5px;
  gap: 4px;
  flex-direction: row;
  position: fixed;
  z-index: 32;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .side_nav {
    display: none; /* Ocultar el contenedor en pantallas pequeñas */
  }
}
@media only screen and (min-width: 769px) {
  .side_nav_mobile{
    display: none;
  }
}
.dropdown_icon {
  position: relative;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 1.6rem;
  gap: 15px;
  
}
.logo{
  border-radius: 100%;
}
.icon {
  display: inline-block;

  
}
.text {
  font-size: 1.2rem;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.logo {
  border-radius: 100%;
  border: #5bd375 solid 1px;
}
.logo:hover{
  border-radius: 100%;
  border: #7eca67 solid 1px;
  cursor: pointer;
}
.separator {
  height: 2px; /* Altura del separador */
  background-color: #5bd375; /* Color del separador */
  margin: 1px 0; /* Margen superior e inferior del separador */
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
}
.link:hover {
  background-color: #98cfa0;
  cursor: pointer;
  border-radius: 15px;

}
.links_group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #0d1813 0%, #478a6c 35%, #0d1813 100%);
  border-radius: 15px;
}
.button {
  background-color: #478a6c;
  border-radius: 8px;
}
.button:hover{
  background-color: #7eca67;
  cursor: pointer;
}